/* BASE STYLES */

body {
  background-color: black;
  font-family: Verdana;
  text-align: center;
  color: white;
}

a {
  color: aquamarine;
  font-size: 16px;
}

/* TYPOGRAPHY */

h1 {
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

p {
  font-size: 21px;
  color: gray;
}
